# Dependencias
node_modules/
vendor/
/build/
dist/

# Archivos de entorno y configuración
.env
*.env
.env.*
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Archivos de compilación y caché
cache/
artifacts/
typechain/
typechain-types/

# Target y exclusiones específicas para xion-contracts
target/
!/xion-contracts/src/
!/xion-contracts/Cargo.toml
!/xion-contracts/Cargo.lock

# Archivos de testing y cobertura
coverage/
coverage.json
*.test

# Archivos temporales
*.log
.vagrant/
*.box
devnet/

# Archivos de Hardhat
cache/
artifacts/
cache-zk/
artifacts-zk/

# Otros
*.aux
*.out
*.gz
