# Dependencias
node_modules/
vendor/
/build/
dist/

# Archivos de entorno y configuración
.env
*.env
.env.*
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.swl
*.swm
*.swn
*.iml

# Archivos de compilación y caché
/cache/
/artifacts/
/typechain/
/typechain-types/
tools/bin/*
examples/build/*

# Archivos de cobertura y testing
coverage/
coverage.txt
coverage.json
profile.out
*.test

# Documentación generada
docs/_build/
docs/tutorial/
docs/node_modules/
client/docs/node_modules/
client/docs/tmp-swagger-gen/

# Archivos de desarrollo
*.log
vagrant/
.vagrant/
*.box

# Mantener directorios importantes
!xion/
!xion-contracts/

# Archivos temporales y de construcción
tools-stamp
dependency-graph.png
contract_tests/*

# Archivos de Hardhat
/cache/
/artifacts/
ignition/deployments/chain-31337/

# Archivos Go
go.work
go.work.sum
/integration_tests/integration_tests.test

# Archivos LaTeX
*.aux
*.out
*.synctex.gz
